<%= render 'static_pages/splash_nav' %>

<div class="row">
  <section class="splash_intro">
    <div class="container">
      <div class="bobbylong preview"></div>
      <div class="zachandmiri preview"></div>
      <div class="twindonuts preview"></div>

      <h1 class="tagline splash-intro-h1" style="display: inline-block">Build a beautiful simple website for your<br>
        <div class="splash-intro-etc" style="text-align: right">...small business<br>
        ...wedding<br>
        ...band<br>
        ...etc!<br></div>
      </h1>
    </div>

  </section>
</div>

<div class="row">
  <section class="splash_explore">
    <div class="bobbylong-button">
      <a href="#" class="lets-rock btn">Let's Rock</a>
    </div>
    <div class="twindonuts-button">
      <a href="#" class="lets-eat btn">Let's Eat</a>
    </div>
    <div class="zachandmiri-button">
      <a href="#" class="lets-tie-the-knot btn">Let's Tie the Knot</a>
    </div>
  </section>
</div>


<div class="row">
  <section class="splash_examples">

  </section>
</div>


<div class="row">
  <section class="splash_outro">

  </section>
</div>