<%= render 'static_pages/splash_nav' %>

<div class="row">
  <section class="splash_intro">
    <div class="container">
      <h1 class="tagline" style="display: inline-block">Build a beautiful simple website for your<br>
        <div style="text-align: right">...small business.<br>
        ...wedding.<br>
        ...band.<br>
        ...parents.<br>
        ...etc.<br></div>
      </h1>
    </div>
  </section>
</div>

<div class="row">
  <section class="splash_features">

  </section>
</div>


<div class="row">
  <section class="splash_examples">

  </section>
</div>


<div class="row">
  <section class="splash_intro">

  </section>
</div>