New user page

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label>Email:
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>

  <label>Password:
    <input type="password" name="user[password]">
  </label>

  <button>Sign Up</button>
</form>