your page:
<h2><%= @page.title %></h2>


<% @page.widgets.sort.each do |widget| %>

  <h4>~<%= widget.name %> widget~</h4>
  <% widget.fields.sort.each do |field| %>
    <b><%= field.label %></b><br>
    <%= field.content %><br>
  <% end %>

<% end %>