your page:
<h2><%= @page.title %></h2>

<p>page widgets:</p>
<% @page.widgets.each do |widget| %>

  <h4><%= widget.name %></h4>
  <p>fields:</p>
  <% widget.fields.each do |field| %>
    <p><%= field.label %></p>
  <% end %>

<% end %>