<div class='add-widget-container' data-id="<%= id %>">
  <a href="#" class='add-text-widget btn btn-default btn-sm btn-add-widget'>
    Add Text
  </a>

  <a href='#' class='add-contact-widget btn btn-default btn-sm btn-add-widget'>
    Add Contact
  </a>

  <a href='#' class='add-social-widget btn btn-default btn-sm btn-add-widget'>
    Add Social
  </a>

  <a href='#' class='add-services-widget btn btn-default btn-sm btn-add-widget'>
    Add Services
  </a>
</div>