<div class='widget-fields'>
  <span class="click-to-edit">Click to edit</span>

  <% widget.fields().sort().each(function(field) { %>
    <% var title; var url; %>
    <% if(field.get('label') === 'Title:') { title = <%= field.escape('content') %> }; %>
    <% if(field.get('label') === 'Url:') { url = <%= field.escape('content') %> }; %>
  <% }) %>

  <a href='<%= url %>' class='btn btn-lg btn-default'><%= title %></a>

</div>
