<div class='widget-fields'>
  <% widget.fields().sort().each(function(field) { %>
    <<%= field.get('tag')%>><%= field.get('content') %></<%= field.get('tag')%>>
  <% }) %>
</div>

<div class='add-widget-container' data-id="<%= widget.id %>">
  <a href='#' class='add-widget btn btn-default btn-sm'>Add Content</a>
</div>