<li id="newWidget" data-rank="<%= rank %>">
  <a href="#"
    class='btn btn-default btn-sm btn-add-widget'
    data-type="text">
    Add Text
  </a>

  <a href='#'
    class='btn btn-default btn-sm btn-add-widget'
    data-type="contact">
    Add Contact
  </a>

  <a href='#'
    class='btn btn-default btn-sm btn-add-widget'
    data-type="social">
    Add Social
  </a>

  <a href='#'
    class='btn btn-default btn-sm btn-add-widget'
    data-type="services">
    Add Services
  </a>

  <a href='#'
    class='btn btn-default btn-sm btn-add-widget'
    data-type="image">
    Add Image
  </a>

  <a href='#'
    class='btn btn-default btn-sm btn-add-widget'
    data-type="button">
    Add Button
  </a>

  <a href="#" class='cancel'><span class='glyphicon glyphicon-remove'></span></a>
</li>