<li id="newWidget" data-rank="<%= rank %>">

  <div class="widget-form">

    <div class="form-header">
      <h4>
        What would you like to add here?
        <a href="#" class='cancel close'>
          <span class='glyphicon glyphicon-remove'></span>
        </a>
      </h4>
    </div>

    <div class="form-fields">
      <a href="#"
        class='btn btn-default btn-sm btn-add-widget'
        data-type="text">
        Add Text
      </a>

      <a href='#'
        class='btn btn-default btn-sm btn-add-widget'
        data-type="contact">
        Add Contact
      </a>

      <a href='#'
        class='btn btn-default btn-sm btn-add-widget'
        data-type="social">
        Add Social
      </a>

      <a href='#'
        class='btn btn-default btn-sm btn-add-widget'
        data-type="services">
        Add Services
      </a>

      <a href='#'
        class='btn btn-default btn-sm btn-add-widget'
        data-type="image">
        Add Image
      </a>

      <a href='#'
        class='btn btn-default btn-sm btn-add-widget'
        data-type="button">
        Add Button
      </a>


    </div>

  </div>
</li>