<h3><span class="glyphicon glyphicon-globe"></span>&nbsp;Domain Management</h3>

<form id="handle">

  <div class="form-group page-domain">
    <label>
      YOUR FUNPAGER ADDRESS
    </label>
    <input
      type="text"
      class="form-control"
      name="page[handle]"
      value="<%= page.get('handle') %>">
    <span>http://funpager.com/</span>
  </div>

  <button class="btn btn-primary" >Save</button>
</form>