<div id="getting-started-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">A few quick Funpager tips</h4>
      </div>

      <div class="modal-body">
        <div>
          <h4>Build</h4>

          <div class="modal-box">
            <img src="/assets/modal/clicktoedit.png">
            <p>Click on the content you'd like to <b>edit</b><br>
            or drag it to <b>reorder</b></p>
          </div>

          <div class="modal-box">
            <img src="/assets/modal/addcontent.png">
            <p>Click <b>Add Content</b> to add something new</p>
          </div>

        </div>

        <div>
          <h4>Customize</h4>

          <div class="modal-box themes">
            <img src="/assets/modal/pickatheme.png">
            <p>Pick from the <b>themes</b> below to make your site your own!</p>
          </div>
        </div>

        <div>
          <h4>Launch</h4>

          <div class="modal-box">
            <img src="/assets/modal/savepage.png">
            <p>Hit <b>Done</b> when you're finished editing</p>
          </div>

          <div class="modal-box">
            <img src="/assets/modal/pickahandle.png">
            <p>Customize your page's url in the dashboard under <b>domain</b></p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-warning close-modal" data-dismiss="modal">
          Got it, let's build!
        </button>
      </div>
    </div>
  </div>
</div>


  <ul class="widgets"></ul>
  <p class="copyright">&copy; 2014 <%= page.get('company') %></p>



<div id="workstation"></div>