<div id="page-content">
  <ul class="widgets"></ul>
  <p class="copyright">&copy; 2014 <%= page.get('company') %></p>
</div>

<div id="toolbar">
  <button class="btn btn-clear pull-right">Save</button>
</div>