


  <ul class="widgets"></ul>
  <p class="copyright">
    <span class="show-tooltip"
      data-toggle="tooltip"
      data-placement="left"
      title="Change your company name and page title in dashboard settings">
      &copy; 2014 <%= page.get('company') %>
    </span>
  </p>



<div id="workstation"></div>