<h3><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</h3>

<form id="edit-page">

<label>
<input>
</label>

<label>
<input>
</label>

<label>
<input>
</label>

<button>Submit</button>

<form>