<h3><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings</h3>

<form class="form" id="edit-page">

<div class="form-group">
  <label>Your page title:
    <input class="form-control" name="page[title]" type="text" value="<%= page.escape('title') %>">
  </label>
</div>

<div class="form-group">
  <label>Your page company:
    <input class="form-control" type="text" name="page[company]" value="<%= page.escape('company') %>">
  </label>
</div>

<button class="btn btn-primary">Submit</button>

</form>

<br>
<a class="btn btn-sm removeShow" data-id="<%= page.id %>" href="#">
  <span class="glyphicon glyphicon-trash"></span>&nbsp;Remove Page</a>