<div class="container">

  <div class="widgets">
  <ul>
  <% widgets.each(function(widget) { %>
    <li>here's a widget:<%= widget.get('name') %>
  <% }) %>
  </div>
  </ul>
</div>

<a href="#/">Back to your pages</a>