<span style="display: inline-block">Themes:</span>
<a href="#" class="carbon-theme" data-theme="carbon">Carbon</a>
<a href="#" class="brushed-steel-theme" data-theme="brushed-steel">Brushed Steel</a>
<a href="#" class="tablecloth-theme" data-theme="tablecloth">Tablecloth</a>
<a href="#" class="paper-cup-theme" data-theme="paper-cup">Paper Cup</a>
<a href="#" class="skulls-theme" data-theme="skulls">Skulls</a>
<a href="#" class="feathers-theme" data-theme="feathers">Feathers</a>
<a href="#" class="stardust-theme" data-theme="stardust">Stardust</a>