<span style="display: inline-block">Themes:</span>
<a href="#" class="carbon-theme" data-theme="carbon"></a>
<a href="#" class="brushed-steel-theme" data-theme="brushed-steel"></a>
<a href="#" class="tablecloth-theme" data-theme="tablecloth"></a>
<a href="#" class="paper-cup-theme" data-theme="paper-cup"></a>
<a href="#" class="skulls-theme" data-theme="skulls"></a>
<a href="#" class="feathers-theme" data-theme="feathers"></a>
<a href="#" class="stardust-theme" data-theme="stardust"></a>