/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Gloria+Hallelujah|Candal|Cutive|Merriweather:400,900italic,300italic|Oswald|Alegreya:400italic,400|Open+Sans:400,700|Karla:400,700);
// https://www.google.com/fonts#UsePlace:use/Collection:Oleo+Script:400,700|Gloria+Hallelujah|Candal|Cutive|Merriweather:400,900italic,300italic|Oswald|Alegreya:400italic,400|Open+Sans:400,700|Karla:400,700


.row {
  margin:0;
}

::selection {
  background: #F2591D;
  color: white !important;
};

::-moz-selection {
  background: #F2591D;
  color: white;
};

::-webkit-selection {
  background: #F2591D;
  color: white !important;
};


.page-list {
  border-top: 1px #cecece solid;
  padding: 10px;
  position: relative;
}

.page-list .page-buttons {
  position: absolute;
  right: 25px;
  top: 25px;
}


#page-background {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#page-content {
  background-color: white;
  width: 500px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
//  margin-left: auto;
//  margin-right: auto;
  padding: 15px 20px;
}

ul.widgets {
  list-style: none;
  padding: 0;
}

.widget-fields, .widget-fields-no-hover {
  margin-bottom: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  position: relative;
  li {
    list-style: disc inside;
  }
  .click-to-edit {
    text-align: center;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 100px;
    padding: 3px 0;
    margin-left: -50px;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    background-color: slategrey;
    color: white;
    border-radius: 5px;
    opacity: 0.8;
  }
}

textarea.form-control {
  width: 100%;
  max-width: 100%;
  min-height: 120px;
}

.widget-fields:hover {
  color: #000;
  margin-bottom: 10px;
  padding: 9px;
  border: thin solid lightgrey;
  background-color: SeaShell;
  cursor: pointer;
}

.widget-form {
  background-color: lightgrey;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  color: black;
  margin: 10px 0;

  label {
    font-family: 'Arial', sans-serif;
    font-size: 0.8em;
    color: black;
    font-style: normal;
  }
  .cancel {
    font-size: 0.7em !important;
  }

  .form-header {
    font-family: 'Arial', sans-serif;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: dimgrey;
    border-bottom: white thin solid;

    h4 {
      font-size: 0.8em;
      line-height: 0.8em;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
    }
  }

  .form-fields {
    border-top: grey 1px solid;
    border-bottom: white thin solid;

  }

  .form-footer {
    text-align: right;
    border-top: 1px solid grey;
    .trash {
      float: left;
    }
  }
}

.widget-form > div {
  padding: 10px;
}

.container {
  max-width: 800px;
}

.add-widget-container {
  display: none;
  height: 34px;
  overflow: hidden;
  text-align: center;
  background: image-url('dash-bg.png') left center repeat-x;
}

.social-link {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 50px;
  background: image-url('link.png');
  background-size: cover;
}

.facebook {
  background: image-url('fb.png');
  background-size: cover;
}

.twitter {
  background: image-url('twitter.png');
  background-size: cover;
}

.linkedin {
  background: image-url('linkedin.png');
  background-size: cover;
}

.tumblr {
  background: image-url('tumblr.png');
  background-size: cover;
}

p.copyright {
  font-size: 0.8em !important;
}

#workstation {
  height: 100px;
  background: rgba(64, 64, 64, 0.6);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  color: white;
  a {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    border: thin white solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 7px;
    color: white;
    text-align: center;
    padding-top: 20px;
  }

  a.carbon-theme {
    background: image-url('thumbs/carbon.png');
    background-size: cover;
  }
  a.paper-cup-theme {
    background: image-url('thumbs/paper-cup.png');
    background-size: cover;
  }
  a.brushed-steel-theme {
    background: image-url('thumbs/brushed-steel.png');
    background-size: cover;
  }
  a.feathers-theme {
    background: image-url('thumbs/feathers.png');
    background-size: cover;
  }
  a.stardust-theme {
    background: image-url('thumbs/stardust.png');
    background-size: cover;
  }
  a.skulls-theme {
    background: image-url('thumbs/skulls.png');
    background-size: cover;
  }
  a.tablecloth-theme {
    background: image-url('thumbs/tablecloth.png');
    background-size: cover;
  }
}