/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700|Gloria+Hallelujah|Candal|Cutive|Merriweather:400,900italic,300italic|Oswald|Alegreya:400italic,400|Open+Sans:400,700|Karla:400,700);
// https://www.google.com/fonts#UsePlace:use/Collection:Oleo+Script:400,700|Gloria+Hallelujah|Candal|Cutive|Merriweather:400,900italic,300italic|Oswald|Alegreya:400italic,400|Open+Sans:400,700|Karla:400,700

html {
  height: 100%;
}

body {
  background: #f5f5f5;
}

#viewer {
  overflow-y: auto;
}

.row {
  margin: 0;
}

::selection {
  background: #F2591D;
  color: white !important;
};

::-moz-selection {
  background: #F2591D;
  color: white;
};

::-webkit-selection {
  background: #F2591D;
  color: white !important;
};



#page-background {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-content {
  background-color: white;
  width: 500px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 20px;
}

ul.widgets {
  list-style: none;
  padding: 0;
}

.ui-sortable-placeholder {
  margin-top: -15px;
  margin-bottom: -15px;
  border: thick dashed lightgrey;
  border-radius: 10px;
  visibility: visible !important;
}

.widget_fields, 
.widget_fields-no-hover {
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    position: relative;

    li {
        list-style: disc inside;
    }
}

textarea.form-control {
  width: 100%;
  max-width: 100%;
  min-height: 120px;
}

.click-to-edit,
.widget_click-to-edit {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    padding: 3px 0;
    margin-left: -50px;
    margin-top: -13px;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    background-color: slategrey;
    color: white;
    border-radius: 5px;

    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    visibility: hidden;
}

.widget.hovered .widget_fields:hover,
.widget_fields-hover {
  color: #000;
  margin-bottom: 10px;
  padding: 9px;
  border: thin solid lightgrey;
  background-color: SeaShell;
  cursor: pointer;
  a {
    pointer-events: none;
  }
  h1, h2, h3, p, li {
    color: #000 !important;
  }
}

.widget_fields:hover .widget_click-to-edit {
    opacity: 0.8;
    visibility: visible;
}

.widget-form {
  background-color: lightgrey;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  color: black;
  margin: 10px 0;

  label {
    font-family: 'Arial', sans-serif;
    font-size: 0.8em;
    color: black;
    font-style: normal;
  }
  .cancel {
    font-size: 0.7em !important;
  }
  .cancel.close {
    color: white;
    opacity: 0.4;
    text-shadow: none;
  }
  .cancel.close:hover {
    opacity: 0.8;
    text-shadow: 0 1px 0 white;
  }

  .form-header {
    font-family: 'Arial', sans-serif;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: dimgrey;
    border-bottom: white thin solid;

    h4 {
      font-size: 0.8em;
      line-height: 0.8em;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
    }
  }

  .form-fields {
    border-top: grey 1px solid;
    border-bottom: white thin solid;
  }

  .form-footer {
    text-align: right;
    border-top: 1px solid grey;
    .trash {
      float: left;
    }
  }
}

.widget-form > div {
  padding: 10px;
}

.u-page-width {
    max-width: 900px;
}

.u-margin-0-auto {
    margin: 0 auto;
}


.widget_add-widget {
    overflow: hidden;
    text-align: center;
    background: image-url('dash-bg.png') left center repeat-x;

    max-height: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.widget.hovered .widget_add-widget {
    max-height: 100px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.add-widget-container {
  display: none;
  overflow: hidden;
  text-align: center;
  background: image-url('dash-bg.png') left center repeat-x;
}

.btn-add-content {
  border-radius: 15px;
  height: 24px;
  padding: 2px 10px;
}

.btn-add-widget {
  border-radius: 5px;
  min-width: 24%;
  display: inline-block;
  padding: 10px;
  background-color: lightgrey;
  border-color: lightgrey;
  color: grey;
  span {
    font-size: 24px;
  }
}

.btn-add-widget:hover {
 background-color: white;
 border-color: grey;
 color: darkslategrey;
}

.social-link {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 50px;
  background: image-url('link.png');
  background-size: cover;
}

.facebook {
  background: image-url('fb.png');
  background-size: cover;
}

.twitter {
  background: image-url('twitter.png');
  background-size: cover;
}

.linkedin {
  background: image-url('linkedin.png');
  background-size: cover;
}

.tumblr {
  background: image-url('tumblr.png');
  background-size: cover;
}

p.copyright {
  font-size: 0.8em !important;
}

// start workstation styles
.workstation {
    min-height: 110px;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgba(64, 64, 64, 0.6);
    padding: 10px;
    color: white;
    border-top: 10px black solid;    
}

.workstation_theme {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    border: thin white solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 7px;
    color: white;
    text-align: center;
    padding-top: 20px;

    background-size: cover;
}

.workstation_theme--carbon {
    background: image-url('thumbs/carbon.png');
}
.workstation_theme--water {
    background: image-url('thumbs/water.png');
}
.workstation_theme--paper-cup {
    background: image-url('thumbs/paper-cup.png');
}
.workstation_theme--brushed-steel {
    background: image-url('thumbs/brushed-steel.png');
}
.workstation_theme--feathers {
    background: image-url('thumbs/feathers.png');
}
.workstation_theme--stardust {
    background: image-url('thumbs/stardust.png');
}
.workstation_theme--skulls {
    background: image-url('thumbs/skulls.png');
}
.workstation_theme--tablecloth {
    background: image-url('thumbs/tablecloth.png');
}
.workstation_theme--crossword {
    background: image-url('thumbs/crossword.png');
}

// start modal styles

.modal * {
  text-align: center;
}

h4.modal-title {
  font-size: 24px;
  color: darkslategrey;
}
.modal-body > div {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  height: auto;
  padding: 0;
  h4 {
    color: #F2591D;
    font-size: 30px;
  }
  div.modal-box img {
    max-width: 90%;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin-bottom: 10px;
  }
  p {
    color: darkslategrey;
    font-size: 12px !important;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }
  div.modal-box {
    margin-top: 20px;
  }
  div.modal-box.themes {
    margin-top: 50px;
  }
}

.addcontent {
  background: image-url('modal/addcontent.png') no-repeat;
  height: 80px;
}

.clicktoedit {
  background: image-url('modal/clicktoedit.png') no-repeat;
  height: 80px;
}

.pickatheme {
  background: image-url('modal/pickatheme.png') no-repeat;
  height: 80px;
}

.savepage {
  background: image-url('modal/savepage.png') no-repeat;
  height: 50px;

}

.pickahandle {
  background: image-url('modal/pickahandle.png') no-repeat;
  height: 100px;
}



// start dashboard styles
.dashboard nav {
  float: left;
  width: 185px;
  a {
    background: #f5f5f5;
    text-decoration: none;
    display: block;
    border-bottom: thin solid #cecece;
    padding: 10px;
  }
  a:hover {
    background: white;
  }
}

#dashboard-content {
  margin-left: 185px;
  padding: 25px 25px 85px;

  border-left: thin solid lightgrey;
}

#dashboard-toolbar {
  background-color: white;
  border-bottom: thin solid #cecece;
  height: 75px;
  > .container {
    padding: 0;
  }
  header {
    position: relative;
    .page-buttons {
      position: absolute;
      right: 0px;

    }
  }
}

.page-domain {
  position: relative;
  input {
    padding-left: 144px;
    color: black;
  }
  span {
    color: darkgrey;
    position: absolute;
    left: 12px;
    top: 32px;
  }
}

.dashboard {
  height: 100%;
  header.your-pages {
    padding: 15px 25px;
  }

  .page-list {
    border-top: 1px #cecece solid;
    padding: 15px 25px;
    position: relative;
  }

  .page-list .page-buttons {
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .new-funpager {
    margin: 10px 0;
    padding: 30px;
    background-color: #f5f5f5;
    color: darkgrey;
    * {
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.dashboard > .container {
  height: 100%;
  background: white;
  border-left: thin #cecece solid;
  border-right: thin #cecece solid;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
//      padding-left: 15px;
      p, p a {
        color: #888888;
      }
    }
  }
}

#newWidget {
  position: relative;

  .wrapper {
    height: 300px;
    border: thick lightgrey dashed;
    border-radius: 5px;

    #canvasLoader {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      margin-left: -32px;
      margin-top: -32px;
    }
  }

}


// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// navbar and splash navbar styles

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #f47946;
}

.navbar-inverse, .navbar-inverse * {
  max-height: 46px;
}

.navbar-inverse {
  background-color: #f47946;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown, .dropdown-menu {
    max-height: 200px;
  }

  a, .navbar-nav > li > a {
    color: white;
    border-left: 1px solid #e65b37;
    border-right: 1px solid #e65b37;
  }

  .dropdown-menu > li > a {
    border: 0;
  }



 .navbar-brand {
    color: white;
    font-weight: 460;
    font-size: 22px;
    padding: 13px 15px;
    width: 185px;
    text-align: center;
  }

  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-clear:hover {
    background: white;
    border: 1px #f47946 solid;
    color: #f47946;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.btn-clear {
  background: none;
  border: 1px white solid;
  color: white;
}


.navbar-splash {
  background-color: white;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  .navbar-brand {
    color: #f47946;
    font-weight: 700;
    font-size: 2.8em;
  }
  .btn-clear {
    border: 1px #f47946 solid;
    color: #f47946;
    margin-left: 10px;
  }
}

.padded-flash-container { // this makes sure that the fixed navbar does not hide anything
  margin-top: 100px;
}

// splash / home page styles
.splash_intro {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F59873),
    color-stop(0.3, #F47A46)
  );
  background-image: -o-linear-gradient(bottom, #F59873 0%, #F47A46 30%);
  background-image: -moz-linear-gradient(bottom, #F59873 0%, #F47A46 30%);
  background-image: -webkit-linear-gradient(bottom, #F59873 0%, #F47A46 30%);
  background-image: -ms-linear-gradient(bottom, #F59873 0%, #F47A46 30%);
  background-image: linear-gradient(to bottom, #F59873 0%, #F47A46 30%);
  color: white;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 600px;
  div.preview {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
      0 0 0 18px hsl(0, 0%, 0%),
      0 0 0 20px hsl(0, 0%, 80%);
  }
  h3 {

  }
}

.bobbylong {
  width: 500px;
  position: absolute;
  top: 40%;
  right: 65%;
  height: 600px;
  background-image: url('https://s3-us-west-2.amazonaws.com/singlepager-prod/bobbylong_wide');
  background-size: 100%;
}
.bobbylong-button {
  width: 500px;
  position: absolute;
  top: 0;
  right: 65%;
  overflow: visible;
}

.zachandmiri {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 65%;
  height: 600px;
  background-image: url('https://s3-us-west-2.amazonaws.com/singlepager-prod/zachandmiri_wide');
  background-size: 100%;
}
.zachandmiri-button {
  width: 500px;
  position: absolute;
  top: 0;
  left: 65%;
}

.twindonuts {
  width: 600px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -300px;
  height: 600px;
  background-image: url('https://s3-us-west-2.amazonaws.com/singlepager-prod/twindonuts_wide');
  background-size: 100%;
}
.twindonuts-button {
  width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  overflow: visible;
}



.lets-rock {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  left: 50%;
  margin-left: -70px;
  top: -50px;
  font-size: 30px;
  background-color: #428bca;
}

.lets-eat {
  height: 160px;
  width: 160px;
  border-radius: 80px;
  left: 50%;
  margin-left: -80px;
  top: -40px;
  font-size: 35px;
}

.lets-tie-the-knot {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  left: 50%;
  margin-left: -70px;
  top: -50px;
  font-size: 30px;
}

// footer styles
.footer {
  background-color: #f47946;
  color: white;
  font-size: 16px;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}