/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Gloria+Hallelujah|Candal|Cutive|Merriweather|Oswald|Alegreya|Open+Sans|Karla|Spinnaker);
// https://www.google.com/fonts#UsePlace:use/Collection:Oleo+Script|Gloria+Hallelujah|Candal|Cutive|Merriweather|Oswald|Alegreya|Open+Sans|Karla|Spinnaker)
.navbar-inverse {
  background-color: #f47946;
  .container { // make the navbar extend slightly outside of the main width
    max-width: 900px;
  }

  a, .navbar-nav > li > a {
    color: white;
    border-left: 1px solid #e65b37;
    border-right: 1px solid #e65b37;
  }

  .dropdown-menu > li > a {
    border: 0;
  }

 .navbar-brand {
    color: white;
    font-weight: 700;
  }

  .btn {
    margin-left: 10px;
  }

  .btn-clear:hover {
    background: white;
    border: 1px #f47946 solid;
    color: #f47946;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.row {
  margin:0;
}

.btn-clear {
  background: none;
  border: 1px white solid;
  color: white;
}

.page-list {
  border-top: 1px #cecece solid;
  padding: 10px;
  position: relative;
}

.page-list .page-buttons {
  position: absolute;
  right: 25px;
  top: 25px;
}


#page-background {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#page-content {
  background-color: white;
  width: 500px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
//  margin-left: auto;
//  margin-right: auto;
  padding: 15px 20px;
}

ul.widgets {
  list-style: none;
  padding: 0;
}

.widget-fields, .widget-fields-no-hover {
  margin-bottom: 10px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  position: relative;
}

textarea.form-control {
  width: 100%;
  max-width: 100%;
  min-height: 120px;
}

.widget-fields:hover {
  color: #000;
  margin-bottom: 10px;
  padding: 9px;
  border: thin solid lightgrey;
  background-color: SeaShell;
  cursor: pointer;
}

.widget-form {
  background-color: lightgrey;
  border-radius: 5px;
}
.widget-form > div {
  padding: 10px;
}

.form-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: grey;
  border: thin solid grey;
}

.container {
  max-width: 800px;
}

.add-widget-container {
  display: none;
  height: 34px;
  overflow: hidden;
  text-align: center;
}

.edit {
  text-align: center;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 90px;
  margin-left: -45px;
  font-size: 1em;
  background-color: slategrey;
  color: white;
  border-radius: 5px;
  opacity: 0.8;
}

#toolbar {

}