// buttons for splash explore
.splash_explore {
  position: relative;
  overflow: visible;
  height: 200px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F59873),
    color-stop(0.77, #F47A46)
  );
  background-image: -o-linear-gradient(bottom, #F59873 0%, #F47A46 77%);
  background-image: -moz-linear-gradient(bottom, #F59873 0%, #F47A46 77%);
  background-image: -webkit-linear-gradient(bottom, #F59873 0%, #F47A46 77%);
  background-image: -ms-linear-gradient(bottom, #F59873 0%, #F47A46 77%);
  background-image: linear-gradient(to bottom, #F59873 0%, #F47A46 77%);
  border-top: thin orange solid;
  z-index: 1;
  input {
    display: block;
    position: absolute;
    text-align: center;
    font-weight: 300;

    color: white;

    white-space: normal;
    background-color: #46CC67;
    border-color: rgb(76, 174, 76);
  }
  input:hover {
    color: white;
    background-color: #34B353;
  }
  h1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-weight: 300;
  }
}

// splash examples
.splash_examples {
  height: 300px;
  padding-top: 50px;
  color: darkgrey;
  text-align: center;

  a {
    vertical-align: middle;
    display: inline-block;
    height: 180px;
    background: darkgrey;
    width: 150px;
    color: white;
    padding: 60px 10px;
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
    border-radius: 5px;
    border-top-right-radius: 20px;
  }
}


// log in / sign up
.splash_auth {
  background-color: #f47946;
  color: white;
  text-align: left;
  height: 90px;
}

.splash_auth_form {
  padding-top: 20px;
}
