// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// navbar and splash navbar styles

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #f47946;
}

.navbar-inverse, .navbar-inverse * {
  max-height: 46px;
}

.navbar-inverse {
  background-color: #f47946;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown, .dropdown-menu {
    max-height: 200px;
  }

  a, .navbar-nav > li > a {
    color: white;
    border-left: 1px solid #e65b37;
    border-right: 1px solid #e65b37;
  }

  .dropdown-menu > li > a {
    border: 0;
  }



 .navbar-brand {
    color: white;
    font-weight: 460;
    font-size: 22px;
    padding: 13px 15px;
    width: 185px;
    text-align: center;
  }

  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-clear:hover {
    background: white;
    border: 1px #f47946 solid;
    color: #f47946;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.btn-clear {
  background: none;
  border: 1px white solid;
  color: white;
}


.navbar-splash {
  background-color: white;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  .navbar-brand {
    color: #f47946;
    font-weight: 700;
    font-size: 2.8em;
  }
  .btn-clear {
    border: 1px #f47946 solid;
    color: #f47946;
    margin-left: 10px;
  }
}

.padded-flash-container { // this makes sure that the fixed navbar does not hide anything
  margin-top: 100px;
}

// splash / home page styles

.splash_intro {
  background-color: #f47946;
  color: white;
  text-align: center;
}

.splash_auth {
  background-color: #f47946;
  color: white;
  text-align: left;
  height: 90px;
}

.splash_auth_form {
  padding-top: 20px;
}

// footer styles
.footer {
  background-color: #f47946;
  color: white;
  font-size: 16px;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}