// all credit to http://lea.verou.me/css3patterns/#
// and http://subtlepatterns.com/ for the cool patterns!

.theme--carbon {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

  .page-content {
    background-color: rgba(0,0,0,0.3);
    font-family: 'Open Sans', sans-serif;
    color: white;
    h1 {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-size: 3.3em;
      color: limegreen;
    }
    h2 {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-size: 2.5em;
    }
    h3 {
      font-family: 'Oswald', 'Open Sans', sans-serif;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--tablecloth {
  background-color:white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:50px 50px;

  .page-content {
    background-color: rgba(255,255,255,0.9);
    font-family: 'Open Sans', sans-serif;
    color: black;
    h1 {
      font-family: 'Gloria Hallelujah', 'Open Sans', sans-serif;
      font-size: 3.3em;
    }
    h2 {
      font-family: 'Gloria Hallelujah', 'Open Sans', sans-serif;
      font-size: 2.5em;
      color: tomato;
    }
    h3 {
      font-family: 'Gloria Hallelujah', 'Open Sans', sans-serif;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--brushed-steel {
  background-color: darkslategrey;
  background: image-url('bg/grey_wash_wall.png');

  .page-content {
    background-color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    h1 {
      font-family: 'Oleo Script', sans-serif;
      font-size: 3.3em;
      font-weight: 700;
      font-style: bold;
      color: #222222;
    }
    h2 {
      font-family: 'Oleo Script', sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      font-style: bold;
      color: darkred;
    }
    h3 {
      font-family: 'Oleo Script', sans-serif;
      font-weight: 700;
      font-style: bold;
      color: darkred;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--paper-cup {
  background-color: white;
  background: image-url('bg/green_cup.png') top left repeat ;

  .page-content {
    background-color: rgba(255,255,255,0.4);
    font-family: 'Open Sans', sans-serif;
    color: darkslategrey;
    h1 {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 3.3em;
      color: white;
    }
    h2 {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 2.5em;
    }
    h3 {
      font-family: 'Merriweather', sans-serif;
      font-style: italic;
      font-weight: 300;
      color: darkred;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--skulls {
  background-color: seashell;
  background: image-url('bg/skulls.png');

  .page-content {
    background-color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    h1 {
      font-family: 'Oleo Script', sans-serif;
      font-size: 3.3em;
      font-weight: 700;
      font-style: bold;
      color: #222222;
    }
    h2 {
      font-family: 'Oleo Script', sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      font-style: bold;
      color: darkred;
    }
    h3 {
      font-family: 'Oleo Script', sans-serif;
      font-weight: 700;
      font-style: bold;
      color: darkred;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--feathers {
  background-color: white;
  background: image-url('bg/subtle_white_feathers.png');

  .page-content {
    background-color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    color: #111111;
    h1 {
      font-family: 'Merriweather', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 3.3em;
      color: #111111;
    }
    h2 {
      font-family: 'Karla', sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      font-style: bold;
      color: darkcyan;
    }
    h3 {
      font-family: 'Karla', sans-serif;
      font-weight: 700;
      font-style: bold;
      color: darkcyan;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
  }
}

.theme--stardust {
  background-color: darkslategrey;
  background: image-url('bg/stardust.png');

  .page-content {
    background-color: rgba(255,255,255,0);
    font-family: 'Open Sans', sans-serif;
    color: white;
    h1 {
      font-family: 'Cutive', sans-serif;
      font-weight: 400;
      font-size: 3.3em;
      color: blanchedalmond;
    }
    h2 {
      font-family: 'Cutive', sans-serif;
      font-size: 2.3em;
      font-weight: 400;
      color: blanchedalmond;
    }
    h3 {
      font-family: 'Cutive', sans-serif;
      font-weight: 400;
      color: blanchedalmond;
    }
    p, li {
      font-size: 1.2em;
    }
    p.copyright {
      font-size: 0.7em;
    }
    p.caption {
      font-size: 0.8em;
    }
    .widget-fields {
      a {
        color: blanchedalmond;
        text-decoration: underline;
      }
    }
  }
}

.theme--crossword {
  background-color: seashell;
  background: image-url('bg/crossword.png');

  .page-content {
    background-color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    h1 {
      font-family: 'Karla', sans-serif;
      font-size: 3.3em;
      font-weight: 700;
      font-style: bold;
      color: #222222;
    }
    h2 {
      font-family: 'Oleo Script', sans-serif;
      font-size: 2.5em;
      font-weight: 400;
      color: midnightblue;
    }
    h3 {
      font-family: 'Oleo Script', sans-serif;
      font-weight: 400;
      color: midnightblue;
    }
    p, li {
      font-size: 1.2em;
    }
  }
}

.theme--water {
  background-color: aliceblue;
  background: image-url('bg/static_water.jpg');
  background-size: cover;

  .page-content {
    background-color: rgba(40, 40, 100, 0.5);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    h1 {
      font-family: 'Oswald', 'Open Sans', sans-serif;
      font-size: 3.8em;
      font-weight: 700;
      font-style: bold;
    }
    h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      font-style: bold;
    }
    h3 {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-style: bold;
    }
    p, li {
      font-size: 1.2em;
    }
  }
}

//.theme--food-party {
//  background-color: seashell;
//  background: image-url('bg/food.png');
//
//  .page-content {
//    background-color: rgba(255,255,255,0.3);
//    font-family: 'Open Sans', sans-serif;
//    color: #222222;
//    h1 {
//      font-family: 'Oleo Script', sans-serif;
//      font-size: 3.3em;
//      font-weight: 700;
//      font-style: bold;
//      color: #222222;
//    }
//    h2 {
//      font-family: 'Oleo Script', sans-serif;
//      font-size: 2.5em;
//      font-weight: 700;
//      font-style: bold;
//      color: darkred;
//    }
//    h3 {
//      font-family: 'Oleo Script', sans-serif;
//      font-weight: 700;
//      font-style: bold;
//      color: darkred;
//    }
//    p, li {
//      font-size: 1.2em;
//    }
//  }
//}