<!DOCTYPE html>
<html>
  <head>
    <title>Funpager</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>

    <%= csrf_meta_tags %>
  </head>

  <body>



        <%= yield %>

  </body>
</html>
